/* Specific styles for the user profile page */

.profile-card {
    max-width: 800px;
    margin: auto;
}

.profile-details p, .profile-details div, .profile-details *::placeholder {
    margin-bottom: calc(var(--spacing-unit) * 0.8);
    font-size: 1.1rem;
    line-height: 1.5;
}

.profile-details strong, .profile-details label {
    color: var(--color-primary-dark); /* Example from style.css */
    display: block;
}

.profile-actions {
    display: grid;
    gap: var(--spacing-unit); /* Example from style.css */
    justify-content: center;
    align-items: center;
    margin-top: calc(var(--spacing-unit) * 2);
    grid-template-columns: repeat(2, 1fr);
}

.profile-actions .btn {
    height: 100%;
    text-align: center;
}


/* Responsive adjustments for profile page */
@media (max-width: 1000px) {
    .profile-card {
        box-shadow: none;
    }

    .profile-actions {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 630px) {
    .profile-card {
        padding-left: 0;
        padding-right: 0;
    }

    .profile-actions {
        grid-template-columns: 1fr;
    }
}
