#login-links {
    display: flex;
    justify-content: space-between;
    margin-top: var(--spacing-unit);
}

#login-links a {
    font-size: 0.9rem;
}

#login-links a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    #login-card {
        box-shadow: none;
    }
}
